{#
/**
 * @file
 * Theme override for Feature Item paragraph.
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--feature-item',
    'feature-item',
  ]
%}

{% set title = paragraph.field_title.value ?? '' %}
{% set description = paragraph.field_description.value ?? '' %}
{% set cta_text = paragraph.field_cta_text.value ?? '' %}
{% set cta_url = paragraph.field_cta_link.0.url ?? null %}
{% set cta_label = cta_text %}

<article{{ attributes.addClass(classes) }}>
  <div class="feature-item__media mb-4">
    {{ content.field_image }}
  </div>

  {% if title %}
    <h3 class="feature-item__title mb-3">{{ title }}</h3>
  {% endif %}

  {% if description %}
    <p class="feature-item__description mb-0">{{ description }}</p>
  {% endif %}

  {% if cta_url %}
    <a href="{{ cta_url }}" class="feature-item__cta d-inline-block link-effect link-effect-hover mt-3">{{ cta_label }}</a>
  {% endif %}
</article>
